<header>
    <div class="header-container">
        <!--  Links to other pages -->
        <nav>
            <ul id="nav_pages">
                <li class="page"><a href="/">Home</a></li>
                <li class="page"><a href="/search">Search</a></li>
                <li class="page"><a href="/card/new">Sell</a></li>
                <li class="page"><a href="/about">About</a></li>
                <li class="page"><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div id="account"></div>
    </div>
</header>