<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <style> to be added to different elements -->
        <title>Card Heaven - Online Trading Card Marketplace</title>
        <meta charset="UTF-8">
        <meta name="author" content="Gonzalo Lopez">
        <meta name="description" content="First time in web dev.">
        <!--  viewport to make your website look good on all devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:wght@400;500;600;700;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap" rel="stylesheet">
        
        <!-- CSS -->
        <link rel="stylesheet" href="/CSS/sell.css">
        <link rel="stylesheet" href="/CSS/modal.css">
        <link rel="stylesheet" href="/CSS/modal-confirm.css">
        <link rel="stylesheet" href="/CSS/modal-error.css">

        <!-- JS -->
        <script src="/JS/modal.js" defer></script>
        <script src="/JS/validate_fields.js" defer></script>
        <script src="/JS/sell.js" defer></script>
        <script src="/JS/modal-message.js" defer></script>
        
    </head>
    <body>
        <div class="body_container">
             <header>
                <div class="header-container">
                    <!--  Links to other pages -->
                    <nav>
                        <ul id="nav_pages">
                            <li class="page"><a href="/">Home</a></li>
                            <li class="page"><a href="/search">Search</a></li>
                            <li class="page"><a href="/card/new">Sell</a></li>
                            <li class="page"><a href="/about">About</a></li>
                            <li class="page"><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                    <div id="account">
                        <!--  These go on right hand side of page, same height as nav -->
                        <button id="login" type="button">Log In</button>
                        <button id="signup" type="button">Sign Up</button>
                    </div>
                </div>
            </header>

            <main>
                <section class="hero">
                    <div id="logo_preview">
                        <!--  Logo goes in the center of the page (size according to background) -->
                        <img src="/images/design/CardHeaven_centered_oneline.png" alt="Home page logo">
                    </div>
                    <div id ="title">
                        <h1>Sell your card</h1>
                    </div>
                </section>

                <section class="card"> 
                    <div class="card_container">
                        <form>
                            <!--  Card Image should be fetched and placed on image frame -->
                            <!-- Grid left side -->
                            <div class="card_image">
                                <div class="image_frame">
                                    <!-- Img should be updated upon selection with JS (left as placeholder) -->
                                    <img id="preview" src="" alt="Card preview" style="display:none;">
                                    <p id="placeholder">Card Photo</p>
                                </div>
                                <input type="file" class="choose" name="image" accept="image/*">
                            </div>
                            <!-- Grid right side -->
                            <div class="info">
                                    <div class="card_name">
                                        <label for="card_name_ip">Card name:</label>
                                        <input type="text" id="card_name_ip" name="name" placeholder="Charizard Holo" required>
                                    </div>
                                    <div class="vendor">
                                        <label for="vendor_ip">Author:</label>
                                        <input type="text" id="vendor_ip" name="vendor" placeholder="Peter Parker" required>
                                    </div>
                                    <!-- For flexbox: one against the other -->
                                    <div class="price-rarity">
                                        <div class="price">
                                            <label for="price_ip">Price:</label>
                                            <input type="number" id="price_ip" name="price" step="0.01" placeholder="10.00" required>
                                        </div>
                                        <div class="rarity">
                                            <label for="rarity_ip">Rarity level:</label>
                                            <select id="rarity_ip" name="rarity" required>
                                                <option>Ultra Rare</option>
                                                <option>Rare</option>
                                                <option>Uncommon</option>
                                                <option>Common</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- For flexbox: one against the other -->
                                    <div class="condition-collection">
                                        <div class="condition">
                                            <label for="condition_ip">Card condition:</label>
                                            <select id="condition_ip" name="condition" required>
                                                <option>Mint</option>
                                                <option>Near-Mint</option>
                                                <option>Played</option>
                                                <option>Damaged</option>
                                            </select>
                                        </div>
                                        <div class="collection">
                                            <label for="collection_ip">Collection:</label>
                                            <select id="collection_ip" name="collection" required>
                                                <option>Pokémon</option>
                                                <option>Yu-Gi-Oh!</option>
                                                <option>Magic The Gathering</option>
                                                <option>Sports</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <label for="description_ip">Description:</label>
                                        <textarea id="description_ip" name="description" placeholder="Describe your card..."></textarea>
                                    </div>
                                    <label id="error_submission" class="error hidden" for="log_user_ip">Please fill out all mandatory fields.</label>
                                    <button class="submit" type="button">Submit</button>
                            </div>
                        </form>
                    </div>            
                </section>
            </main>
        </div>

        <footer>
            <p><b>Copyleft CC-by 2025 by Gonzalo Lopez</b></p>
        </footer>

        <!-- Modal Register -->
        <div id="overlay" class="hidden"></div>

        <div id="modal-register" class="modal hidden">
            <div class="modal_container">
                <span id="close-register" class="close">&times;</span>

                <div class="modal_hero">
                    <img src="/images/design/CardHeaven_notext.png" alt="Login/Register page logo">
                    <h1>Create an account!</h1>
                </div>

                <form id="register-form" class="modal_form">
                    <div class="modal_fields">
                        <div class="modal_name">
                            <label for="sign_name_ip">First name:</label>
                            <input type="text" id="sign_name_ip" name="sign_name_ip" placeholder="Peter" required>
                            <label id="error_label_name" class="error hidden" for="sign_name_ip">First Name must be A-Z, a-z.</label>
                        </div>
                        <div class="modal_lastname">
                            <label for="sign_lastname_ip">Last name:</label>
                            <input type="text" id="sign_lastname_ip" name="sign_lastname_ip" placeholder="Parker" required>
                            <label id="error_label_lastname" class="error hidden" for="sign_lastname_ip">Last Name must be A-Z, a-z.</label>
                        </div>
                        <div class="modal_username">
                            <label for="sign_user_ip">Username:</label>
                            <input type="text" id="sign_user_ip" name="sign_user_ip" placeholder="@peterparkerisspiderman" required>
                            <label id="error_label_username" class="error hidden" for="sign_user_ip">Username must be A-Z, a-z, numbers and '_'.</label>
                        </div>
                        <div class="modal_email">
                            <label for="sign_email_ip">Email:</label>
                            <input type="email" id="sign_email_ip" name="sign_email_ip" placeholder="peter.parker@example.com" required>
                            <label id="error_label_email" class="error hidden" for="sign_email_ip">Email must be as exaple: example@example.com.</label>
                        </div>
                        <div class="modal_password">
                            <label for="sign_pass_ip">Password:</label>
                            <input type="password" id="sign_pass_ip" name="sign_pass_ip" required>
                            <label id="error_label_pass" class="error hidden" for="sign_pass_ip">Password must be 8-15 characters A-Z, a-z, numbers and a special character.</label>
                        </div>
                        <div class="modal_repeat_password">
                            <label for="sign_repeat_pass_ip">Repeat password</label>
                            <input type="password" id="sign_repeat_pass_ip" name="sign_repeat_pass_ip" required>
                            <label id="error_label_repass" class="error hidden" for="sign_repeat_pass_ip">Passwords do not match.</label>
                        </div>
                    </div>
                    <div class="modal_buttons">
                        <button id="submit-signup" class="modal_submit" type="submit">Submit</button>
                        <button class= "modal_google" type="button">
                            <img src="/images/design/google.png" alt="google">Continue with Google
                        </button>
                        <button class="modal_apple" type="button">
                            <img src="/images/design/apple.png" alt="apple">Continue with Apple
                        </button>
                    </div>
                </form>
            </div>            
        </div>

        <!-- Login -->
        <div id="modal-login" class="modal hidden">
            <div class="modal_container">
                <span id="close-login" class="close">&times;</span>

                <div class="modal_hero">
                    <img src="/images/design/CardHeaven_notext.png" alt="Login/Register page logo">
                    <h1>Log in with your account!</h1>
                </div>

                <form id="login-form" class="modal_form">
                    <div class="modal_fields">
                        <div class="modal_username">
                            <label for="log_user_ip">Username:</label>
                            <input type="text" id="log_user_ip" name="user_ip" placeholder="@peterparkerisspiderman" required>
                            <label id="error_login" class="error hidden" for="log_user_ip">Incorrect email or password.</label>
                        </div>
                        <div class="modal_password">
                            <label for="log_pass_ip">Password:</label>
                            <input type="password" id="log_pass_ip" name="log_pass_ip" required>
                        </div>
                        <p id="modal_ny_an_account">Not yet an account? Register now</p>
                    </div>
                    <div class="modal_buttons">
                        <button id="submit-login" class="modal_submit" type="submit">Submit</button>
                        <button class= "modal_google" type="button">
                            <img src="/images/design/google.png" alt="google">Continue with Google
                        </button>
                        <button class="modal_apple" type="button">
                            <img src="/images/design/apple.png" alt="apple">Continue with Apple
                        </button>
                    </div>
                </form>
            </div>            
        </div>

        <!-- Messages -->
        <div id="modal-confirm" class="hidden">
            <img src="/images/design/checked.png" alt="check">
            <p></p>
        </div>

        <div id="modal-error" class="hidden">
            <img src="/images/design/cancel.png" alt="check">
            <p></p>
        </div>

    </body>