body {
    /*Grid*/
    display:grid;
    grid-template-rows:
        auto   /* header */
        auto   /* hero */
        auto   /* latest */
        auto   /* topvendors */
        auto;  /* footer */
    justify-items:stretch;
    text-align:center;
    margin: 0;
    padding: 0;
    /*Text font*/
    font-family: 'Montserrat';
}

.body_container {
    /*Background*/
    background-image: url("../images/design/background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:top;
}

main {
    margin-bottom: 250px;
}

/* header */
.header-container{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 90px;
}

nav {
    justify-self:start;
    margin-left: 40px;
}

#nav_pages {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#account {
    justify-self:end;
    margin-right: 40px;
}

.page a {
    margin-right: 40px;
    /*Font*/
    font-size: 18px;
    color: #3B3B3F;
    text-decoration: none;
}

#login, #signup {
    width: auto;
    height: auto;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-left: 10px;
    border-radius: 50px;
    height: 40px;
    width: 150px;
}

#login {
    outline: none;
    border: none;
    color: white;
    background-color: #7CBFFC;
}

#signup {
    background-color: transparent;
    outline: none;
    color: #B2B3B6;
    border: 2px solid #B2B3B6;
}

/* hero */
.hero {
    display:grid;
    grid-template-rows: auto auto auto;
    justify-items:center;
    text-align:center;

}
#logo_home {
    margin-bottom: 30px;
}

#logo_home img{
    height: 330px;
    width: auto;
}

#search h1{
    /*Font*/
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 40px;
    color: #7CBFFC;
    text-shadow: 
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #fff;
}

.search-container {
    display: flex;
    border-radius: 50px;
    border: 2px solid #B2B3B6;
    background: white;
    overflow: hidden;
    margin-bottom: 45px;
}

#search_bar {
    outline: none;
    border: none;
    height: 50px;
    width: 800px;
    background: transparent;
    margin-left: 10px;
    /*Font*/
    font-family: 'Montserrat';
    font-size: 16px;
    
} 

#search_button {
    margin-left: 20px;
    background-image: url("../images/design/magnifying-glass-3.png");
    background-position: center;
    background-size: cover;
    background-color: transparent;
    background-size: 30px;
    background-repeat: no-repeat;
    border: none;
    width: 40px;
    height: 50px;
}

#categories {
    display: flex;
    align-items: center;
}

.category {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-image: url("../images/design/button.png");
    background-position: center;
    background-size: cover;
    background-color: transparent;
    background-size: 200px 65px;
    background-repeat: no-repeat;
    border: none;
    height: 80px;
    width: 200px;
    margin-left: 25px;
    margin-bottom: 250px;
}

.category img {
    width: 100px;
    height: 55px;
}

#category-football {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-image: url("../images/design/button.png");
    background-position: center;
    background-size: cover;
    background-color: transparent;
    background-size: 200px 60px;
    background-repeat: no-repeat;
    border: none;
    height: 80px;
    width: 200px;
    margin-left: 25px;
    margin-bottom: 250px;
    /*Font*/
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
    color: #3B3B3F;
}

#category-football img {
    width: 45px;
    height: 45px;
}

/* latest */
.latest {
    display:grid;
    justify-items:center;
    text-align:center;
}

.latest h2 {
    color: #3B3B3F;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
}

.latest_list {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
}

.latest_item { 
    display:grid;
    grid-template-rows:auto auto;
    justify-items:center;
    margin-left: 40px;
}

.latest_item img {
    border-radius: 10px;
    height: 400px;
    width: auto;
}

.viewmore {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-image: url("../images/design/button.png");
    background-position: center;
    background-size: cover;
    background-color: transparent;
    background-size: 170px 40px;
    background-repeat: no-repeat;
    border: none;
    height: 40px;
    width: 170px;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 500px;
    /*Font*/
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 18px;
    color: #3B3B3F;

}

/*topvendors*/
.topvendors {
    display: grid;
    grid-template-rows: auto auto;
    justify-items:center;
    text-align:center;
}

.topvendors h3 {
    color: #3B3B3F;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 25px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_list {
    display: flex;
}

.carousel_item {
    margin: 10px;
    text-decoration: none;
}

#right {
    height: 100px;
    width: 100px;
    background-color: transparent;
    background-image: url("../images/design/right-button.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    border: none;
}

#left {
    height: 100px;
    width: 100px;
    background-color: transparent;
    background-image: url("../images/design/left-button.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    border: none;
}

.carousel_item img {
    border-radius: 10px;
    height: 260px;
    width: auto;
}

.carousel_item p {
    /*Font*/
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    color: #7CBFFC;
    text-shadow: 
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #fff;
}

/*footer*/
footer {
    background-color: white;
    justify-self: stretch;
    align-self: stretch;
    color: #B5B6BA;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 200;
}